body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 800px;
}

.container {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.container>div {
    width: calc(100% / var(--grid-size));
    height: calc(100% / var(--grid-size));
    box-sizing: border-box;
}

.btns {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: rgb(169, 169, 164);
}

#change-grid,
#reset-grid {
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 5%;
    font-weight: bold;
}